<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Students view</title>

    <th:block th:insert="menu.html::nav_script">
    </th:block>

    <th:block th:insert="menu.html::menu_nav">
    </th:block>

    <th:block th:insert="menu.html::mobile_nav">
    </th:block>
</head>
<body>
<div class="container">
    <h1>Students</h1>
    <a th:href="@{/addstudent}">
        <i class="small material-icons">add</i>
    </a>
    <table>
        <thead>
        <tr>
            <td>
                Student id
            </td>
            <td>
                Student first name
            </td>
            <td>
                Student last name
            </td>
            <td>Action</td>

        </tr>
        </thead>
        <tbody>

        <tr  th:each="s : ${students}">
            <td th:text="${s.studentId}"></td>
            <td th:text="${s.firstName}"></td>
            <td th:text="${s.lastName}"></td>

            <td>
                <a th:href="@{/editstudent/{id}(id = ${s.studentId})}">
                    <i class="small material-icons">create</i>
                </a>
                <a th:href="@{/deletestudent/{id}(id = ${s.studentId})}">
                    <i class="small material-icons">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>