<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>Professors view</title>
    <nav th:insert="menu.html::menu_nav"></nav>
</head>
<body>
<div class="container">
    <h1>Professors</h1>
    <a th:href="@{/addprofessor}">
        <i class="small material-icons">add</i>
    </a>
    <table>
        <thead>
        <tr>
            <td>
                Professor id
            </td>
            <td>
                Professor first name
            </td>
            <td>
                Professor last name
            </td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody th:each="s : ${professors}">

        <tr >
            <td th:text="${s.professorId}"></td>
            <td th:text="${s.firstName}"></td>
            <td th:text="${s.lastName}"></td>
            <td>
                <a th:href="@{/editprofessor/{id}(id = ${s.professorId})}">
                    <i class="small material-icons">create</i>
                </a>
                <a th:href="@{/deleteprofessor/{id}(id = ${s.professorId})}">
                    <i class="small material-icons">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>