<!DOCTYPE html>
<nav th:fragment="menu_nav" xmlns:th="http://www.thymeleaf.org">
    <div class="nav-wrapper">
        <a class="right" th:href="@{/logout}">Logout</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a th:href="@{/}">Home</a></li>
            <li>
                <a th:href="@{/allstudents}">Students</a>
            </li>
            <li><a th:href="@{/allprofessors}">Professors</a></li>
            <li><a th:href="@{/allschoolgroups}">School groups</a></li>
            <li><a th:href="@{/allgrades}">Grades</a></li>
            <li><a th:href="@{/alldisciplines}">Disciplines</a></li>
        </ul>

    </div>
</nav>